/* Main stuff */

* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
a:visited {
	text-decoration: none;
	color: black;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	opacity: 0.5;
}
.background-umbral {
	width: 40%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content-wrap {
	clear: both;
}
/* Nav menu */

.menu ul {
	padding: 10px;
	padding-right: 30px;
	margin-bottom: 40px;
}
.menu li {
	padding: 4px;
	list-style-type: none;
	font-size: 18px;
}
.main_menu {
	float: right;
}
/* Big logo */

.main_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	padding: 2rem;
}
.title {
	text-transform: uppercase;
	writing-mode: tb;
	position: fixed;
	top: 0;
	padding: 14px;
	font-size: 50px;
	font-weight: normal;
	letter-spacing: 8px;
	transform: rotate(180deg);
}
.subtitle {
	position: absolute;
	top: 11px;
	left: 140px;
	letter-spacing: 9px;
	font-weight: normal;
	text-transform: uppercase;
}
/* About page */

.team_img {
	width: 400px;
	filter: grayscale(100%);
}
.text-logo {
	width: 40%;
	float: right;
}
.text-right {
	width: auto;
	padding: 2rem;
	line-height: 32px;
	position: relative;
	top: -88px;
}
.image-left {
	flex-basis: 100%;
}
.about {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
	width: 50%;
}
.text-right h2 {
	font-weight: normal;
	letter-spacing: 3px;
}
.text-right h2:after {
	content: "";
	/* This is necessary for the pseudo element to work. */
	display: block;
	/* This will put the pseudo element on its own line. */
	margin: 0 auto;
	/* This will center the border. */
	width: 13%;
	/* Change this to whatever width you want. */
	padding-top: 14px;
	/* This creates some space between the element and the border. */
	border-bottom: 6px solid black;
	/* This creates the border. Replace black with whatever color you want. */
	margin-left: 1px;
}

/* Nosotros */

.flex-items:nth-child(1) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 1;
}
.flex-items:nth-child(2) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 2;
}
.flex-items:nth-child(3) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 3;
}
.flex-items:nth-child(4) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 4;
}
.flex-items:nth-child(5) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 5;
}
.flex-items:nth-child(6) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 6;
}
.flex-items img {
	width: 100%;
	filter: grayscale(100%);
	-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);
}
.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.row {
	display: flex;
	flex-direction: row;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	padding-bottom: 40px;
	position: relative;
	top: -61px;
	z-index: -1;
}
.flex-items {
	padding: 2rem;
	padding-left: 0;
	width: 36%;
}
.flex-items h3 {
	font-weight: normal;
	letter-spacing: 4px;
	color: #246321;
}
.flex-items p:after {
	content: "";
	/* This is necessary for the pseudo element to work. */
	display: block;
	/* This will put the pseudo element on its own line. */
	margin: 0 auto;
	/* This will center the border. */
	width: 13%;
	/* Change this to whatever width you want. */
	padding-top: 14px;
	/* This creates some space between the element and the border. */
	border-bottom: 6px solid black;
	/* This creates the border. Replace black with whatever color you want. */
	margin-left: 1px;
}
/* Servicios */

.services {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	width: -moz-fit-content;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 25px;
	position: relative;
	top: -65px;
}
.about_image {
	width: auto;
	height: 620px;
	position: absolute;
	top: 10%;
	left: 29%;
	transform: rotate(39deg);
	z-index: -1;
	opacity: 0.2;
}
.items {
	padding: 0.7rem;
}
.services ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
.services li {
	margin-left: 23px;
	letter-spacing: 2px;
}
.services h2 {
	font-weight: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.services h3 {
	font-weight: normal;
	letter-spacing: 2px;
	color: #246321;
}
.services h2:after {
	content: "";
	/* This is necessary for the pseudo element to work. */
	display: block;
	/* This will put the pseudo element on its own line. */
	margin: 0 auto;
	/* This will center the border. */
	width: 13%;
	/* Change this to whatever width you want. */
	padding-top: 14px;
	/* This creates some space between the element and the border. */
	border-bottom: 6px solid black;
	/* This creates the border. Replace black with whatever color you want. */
	margin-left: 1px;
}
/* Proyectos */

.masonry-wrapper {
	padding: 1.5em;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -51px;
}
.masonry {
	columns: 1;
	column-gap: 10px;
}
.masonry-item {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.masonry {
		columns: 2;
	}
}
@media only screen and (min-width: 1024px) {
	.masonry {
		columns: 3;
	}
}
.masonry-item {
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
	transition: filter .25s ease-in-out;
}
.masonry-item:hover {
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
.masonry-footer {
	font-size: .75em;
	opacity: .25;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-bottom: -1.5em;
	transition: opacity 1s ease-in-out;
}
.masonry-footer a {
	color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
	opacity: .75;
}
.masonry img {
	width: 100%;
}
.masonry a {
	color: white;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(36, 99, 33, 0.9);
}
.masonry-item:hover .overlay {
	opacity: 1;
}
.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
}
.text i {
	font-size: 15px;
}
/* Footer */

#page-container {
	min-height: 100vh;
	/* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 200px;
	/* height of your footer */
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.main_footer p {
	padding: 0;
	margin: 0;
	color: white;
	text-transform: lowercase;
	margin-bottom: 5px;
}
.main_footer {
	padding: 2rem;
	background-color: #246321;
	color: white;
	display: -webkit-box;
}
.main_footer a {
	color: white !important;
	letter-spacing: 2px;
}
.main_footer h3 {
	color: white;
	letter-spacing: 5px;
	font-weight: normal;
	writing-mode: tb;
	transform: rotate(180deg);
}
.tagline {
	width: 320px;
	position: absolute;
	right: 60px;
	text-transform: uppercase !important;
	letter-spacing: 4px;
	line-height: 30px;
}
/* Animation */

.fade-in {
	animation: fadeIn ease 20s;
	-webkit-animation: fadeIn ease 20s;
	-moz-animation: fadeIn ease 20s;
	-o-animation: fadeIn ease 20s;
	-ms-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 50s linear infinite;
  -moz-animation: rotating 50s linear infinite;
  -ms-animation: rotating 50s linear infinite;
  -o-animation: rotating 50s linear infinite;
  animation: rotating 50s linear infinite;
}
/* Responsive */

@media (max-width: 768px) {
	.about {
		width: 100%;
		margin-top: 270px;
	}
	.subtitle {
		position: absolute;
		top: 11px;
		left: 140px;
		letter-spacing: 9px;
		font-weight: normal;
		text-transform: uppercase;
		display: none;
	}
	.title {
		position: absolute;
	}
	.tagline {
		width: 320px;
		position: absolute;
		right: 60px;
		text-transform: uppercase !important;
		letter-spacing: 4px;
		line-height: 30px;
		visibility: hidden;
	}
	.text-logo {
		width: 55%;
		float: right;
	}
	.text-right {
		width: auto;
		padding: 2rem;
		line-height: 32px;
		position: relative;
		top: 0;
	}
	.row {
		flex-direction: column;
		width: 100%;
		padding-bottom: 55px;
		top: 61px;
	}
	.flex-items {
		width: 100%;
		padding-left: 2rem;
	}
	.masonry-wrapper {
		padding: 1.5em;
		max-width: 960px;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		top: 68px;
		padding-bottom: 100px;
	}
	.services {
		top: 67px;
		padding-bottom: 30px;
		width: auto;
		padding: 2rem;
	}
	.services ul {
		margin: 0;
	}
	.services li {
		margin-bottom: 10px;
	}
	.about_image {
		opacity: 0.1;
		left: 0;
	}
	.background-umbral {
		width: 63%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.menu li {
		padding: 4px;
		list-style-type: none;
		font-size: 25px;
		margin-bottom: 3px;
	}
	.active {
		color: #246321 !important;
	}
	
	
}